body {
  background: #f0eeeea3;
  font-family: 'Roboto Condensed';
}
.container {
  display: flex;
  flex-direction: column;
  margin: 5rem 9rem 0rem 9rem;
}
.input-value {
  margin-bottom: 0;
  text-transform: capitalize;
}
.total-images {
  color: #7d7a7a;
  margin-bottom: 20px;
}
.load-btn {
  width: fit-content;
  margin: 30px auto;
  padding: 15px 30px;
  color: #ffffff;
  background: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
